caption {
  color: black;
  font-size: 60px;
  font-weight: 800;
  padding: 20px;
  text-shadow: -1px 0 rgb(241, 194, 40), 0 1px rgb(241, 194, 40), 1px 0 rgb(241, 194, 40), 0 -1px rgb(241, 194, 40);
}
.filters-container {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.filters-selectors-container {
  width: 90%;
  height: 400px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.filter-label {
  align-self: start;
  color: rgb(241, 194, 40);
  font-size: 30px;
}

.input-name {
  align-self: center;
  background-color: transparent;
  border: rgb(241, 194, 40);
  color: rgb(241, 194, 40);
  font-size: 20px;
  height: 50px;
  width: auto;
}

.loading-page {
  color:  rgb(241, 194, 40);
  display: flex;
  font-size: 100px;
  justify-content: center;
  margin-top: 20%;
  text-shadow: -1px 0 rgb(241, 194, 40), 0 1px rgb(241, 194, 40), 1px 0 rgb(241, 194, 40), 0 -1px rgb(241, 194, 40);
}

.table-values-content {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
  background: black; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold;
  height: 40px;
}

td {
  color: rgb(241, 194, 40);
  height: 50px;
}

td, th { 
  padding: 6px; 
  border: 1px solid rgb(204, 204, 204); 
  text-align: center;
}

.title-button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color:  rgb(241, 194, 40);
  cursor: pointer;
  width: 100%;
}

.selectors-container {
  display: flex;
  justify-content: space-between;
  width: 38%;
}

::placeholder {
  color: rgb(241, 194, 40);
}

.filter-button-container {
  background-color: red;
  height: auto;
  margin-left: 50%;
}
